<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bulk Mail</title>
</head>
<body>
	<form action="/sender-email" method="post">

		<label>SENDERS EMAIL</label>
		<input type="text" name="sender-email" placeholder={{sendermail}}>

		<label>SENDERS PASSWORD</label>
		<input type="text" name="sender-password" placeholder={{sendermailpassword}}>
		<input type = "submit" value="SAVE">
	</form >




	<form action="/mails" method="post" enctype="multipart/form-data">
		<label>Add email file</label>
		<input type="file" name="emails">
		<input type = "submit" value="Upload">
	</form>


	<form action="/htmlContent" method="post" enctype="multipart/form-data">
		<label>html files</label>
		<input type="file" name="html-text">
		<input type = "submit" value="Upload">
	</form>

	

</body>
</html>